body{
    text-align: center;
    font-family: Arial,  sans-serif;
}

#colorBox{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 0 auto;
}

#copyButton{
    background-color: rgba(51, 157, 51, 0.777);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

#copyButton:hover {
    background-color: rgba(36, 100, 36, 0.812);
    
}